<p-treeTable [value]="Nodes" selectionMode="single" [(selection)]="SelectedNode">
    <p-column field="id" header="Id"></p-column>
    <p-column field="name" header="Name">
    </p-column>
    <p-column field="type" header="Type">
        <ng-template let-col let-node="rowData" pTemplate="body">
            <ng-container *ngIf="node.data._type === 'Absence'">
                <p-dropdown [options]="AbsenceTypeList" optionLabel="name" [(ngModel)]="node.data.type"  [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
            </ng-container>
        </ng-template>
    </p-column>
    <p-column field="from" header="From">
        <ng-template let-col let-node="rowData" pTemplate="body">
            <ng-container *ngIf="node.data._type === 'Absence'">
                <p-calendar [(ngModel)]="node.data.from" [style]="{'width':'100%'}" appendTo="body"></p-calendar>
            </ng-container>
        </ng-template>
    </p-column>
    <p-column field="to" header="To">
        <ng-template let-col let-node="rowData" pTemplate="body">
            <ng-container *ngIf="node.data._type === 'Absence'">
                <p-calendar [(ngModel)]="node.data.to" [style]="{'width':'100%'}" appendTo="body"></p-calendar>
            </ng-container>                 
        </ng-template>
    </p-column>
    <p-column field="confirmed" header="Confirmed">
        <ng-template let-col let-node="rowData" pTemplate="body">
            <ng-container *ngIf="node.data._type === 'Absence'">
                <p-checkbox [(ngModel)]="node.data.confirmed" binary="true" [style]="{'width':'100%'}" appendTo="body"></p-checkbox>
            </ng-container>
        </ng-template>
    </p-column>
</p-treeTable>