<app-team-menu (menuClick)="onMenuClick"></app-team-menu>
<app-team-details [visible]="false"></app-team-details>
<p-table [value]="teams" [columns]="cols" selectionMode="single">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" >
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team let-member let-columns="columns">
        <tr class="ui-widget-content">
            <td colspan="6">
                <span style="font-weight:bold">{{team.name}}</span> 
            </td>
        </tr>
        <tr *ngFor="let member of team.members">
            <td *ngFor="let col of columns">
                    {{member[col.field]}}
            </td>
        </tr>
        <tr *ngFor="let absence of member.absences">
            <td *ngFor="let col of columns">
                    {{absence[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<br/>

