/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~dhtmlx-gantt/codebase/dhtmlxgantt.css";
@import "~primeng/resources/primeng.min.css";
@import "assets/themes/basic/theme.min.css";

body {
    font-size: 0.8em;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

 .complex_gantt_bar {
    background: transparent;
    border: none;
}

.dayff_gantt_bar {
    background-color: #3db9d3
}

.sickleave_gantt_bar {
    background-color: lightcoral
}

.confirmed_vacation_gantt_bar {
    background-color: mediumspringgreen
}

.unconfirmed_vacation_gantt_bar {
    background-color: khaki
}

.complex_gantt_bar .gantt_task_progress {
    display: none;
}

.not_interactive_task .gantt_add {
    display: none !important;
}

.fa {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    opacity: 0.2;
    margin-right: 5px;
}

.fa:hover {
    opacity: 1;
}

.fa-pencil {
    color: #ffa011;
}

.fa-plus {
    color: #328EA0;
}

.fa-times {
    color: red;
}