/* You can add global styles to this file, and also import other style files */
@import "../node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css";
body {
    font-size: 0.9em;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

 .complex_gantt_bar {
    background: transparent;
    border: none;
}

.complex_gantt_bar .gantt_task_progress {
    display: none;
}

.not_interactive_task .gantt_add {
    display: none !important;
}